$breakpoint-medium:1024px;
$breakpoint-medium-portrait:768px;
$breakpoint-large: $breakpoint-medium + 1;
$breakpoint-small: 640px !default;
$breakpoint-small-portrait: 415px;
$breakpoint-tiny:220px;
$breakpoint-x-large:1440px;
$enforce-hybrid-display:true;
$breakpoint-hybrid-medium: 1280px;
$breakpoint-hybrid-medium-height:700px;
$breakpoint-tabs: 800px;
$grid-column-gutter: 30px;