
/// Media Breakpoints
/// mobile friendly hybrid display
/// for mobile friendly, hybrid display will show medium on touch devices for screen widths up to hybrid-medium and screen heights less than hybrid-medium-height
/// hybrid display will show large on desktop screens from medium while orientation:landscape and screen height greater than hybrid-medium-height
$breakpoint-medium:1024px !default;
$breakpoint-medium-portrait:768px !default;
$breakpoint-large: $breakpoint-medium + 1 !default;
$breakpoint-small: 640px !default;
$breakpoint-small-portrait: 415px !default;
$breakpoint-tiny:220px !default;
$breakpoint-x-large:1440px !default;
$enforce-hybrid-display:true !default;
$breakpoint-hybrid-medium: 1280px !default;
$breakpoint-hybrid-medium-height:700px !default;
$breakpoint-tabs: 800px !default;


/// Breakpoints map
/// @access public
$Breakpoint: (
        medium:$breakpoint-medium,
        medium-portrait:$breakpoint-medium-portrait,
        large:$breakpoint-large,
        small:$breakpoint-small,
        small-portrait:$breakpoint-small-portrait,
        tiny:$breakpoint-tiny,
        x-large:$breakpoint-x-large,
        tabs:$breakpoint-tabs,
        enforce-hybrid-display:$enforce-hybrid-display,
        hybrid-medium:$breakpoint-hybrid-medium,
        hybrid-medium-height:$breakpoint-hybrid-medium-height
);