@import "variables";


$_enforce-hybrid-display: map-get($Breakpoint, enforce-hybrid-display);
$_hybrid-large:map-get($Breakpoint,hybrid-medium) + 1;

///screen
$media-screen: "only screen" !default;

///small,phone
$media-small: "only screen and (max-width: #{map-get($Breakpoint,small)})" !default;
$media-phone:$media-small;

///small-landscape,phone landscape
$media-small-landscape: "only screen and (max-width: #{map-get($Breakpoint,small)}) and (orientation:landscape)" !default;
$media-phone-landscape:$media-small-landscape;

///smart-portrait,phone-portrait
$media-small-portrait: "only screen and (max-width: #{map-get($Breakpoint,small-portrait)}) and (orientation:portrait)" !default;
$media-phone-portrait:$media-small-portrait;

///medium
$media-medium: "only screen and (max-width: #{map-get($Breakpoint,medium)}) and (min-width: #{map-get($Breakpoint,small)})" !default;

///medium-landscape
$media-medium-landscape: "only screen and (max-width: #{map-get($Breakpoint,medium)}) and (min-width: #{map-get($Breakpoint,small)}) and (orientation:landscape)" !default;

///medium-portrait
$media-medium-portrait: "only screen and (max-width: #{map-get($Breakpoint,medium-portrait)}) and (min-width: #{map-get($Breakpoint,small)}) and (orientation:portrait)" !default;

/// touch
$media-touch: "only screen and (max-width: #{map-get($Breakpoint,medium)}) and (min-width: #{map-get($Breakpoint,tiny)})" !default;

/// large
$media-large: "only screen and (min-width: #{map-get($Breakpoint,large)})" !default;

/// x-large
$media-x-large: "only screen and (min-width: #{map-get($Breakpoint,x-large)})" !default;

///landscape
$media-landscape: "only screen and (orientation: landscape)" !default;

///portrait
$media-portrait: "only screen and (orientation: portrait)" !default;



@if $_enforce-hybrid-display==true{
        $media-touch: "only screen and (max-width: #{map-get($Breakpoint,medium)}) and (min-width: #{map-get($Breakpoint,tiny)}), only screen and (max-width:#{map-get($Breakpoint,hybrid-medium)}) and (max-height:#{map-get($Breakpoint,hybrid-medium-height)}) and (orientation:landscape)" !default;
        $media-medium: "only screen and (max-width: #{map-get($Breakpoint,medium)}) and (min-width: #{map-get($Breakpoint,small)}), only screen and (max-width:#{map-get($Breakpoint,hybrid-medium)}) and (max-height:#{map-get($Breakpoint,hybrid-medium-height)}) and (orientation:landscape)" !default;
        $media-medium-landscape: "only screen and (max-width: #{map-get($Breakpoint,medium)}) and (min-width: #{map-get($Breakpoint,small)}) and (orientation:landscape), only screen and (max-width:#{map-get($Breakpoint,hybrid-medium)}) and (max-height:#{map-get($Breakpoint,hybrid-medium-height)}) and (orientation:landscape)" !default;
        $media-large: "only screen and (min-width:#{map-get($Breakpoint,medium)}) and (max-width:#{map-get($Breakpoint,hybrid-medium)}) and (min-height:#{map-get($Breakpoint,hybrid-medium-height)}) and (orientation:landscape), only screen and (min-width:#{$_hybrid-large})" !default;
}

$media-tablet:$media-medium;
$media-tablet-landscape:$media-medium-landscape;
$media-tablet-portrait:$media-medium-portrait;
$media-desktop:$media-large;


/// Media map
/// @access public
$Media: (
        screen:$media-screen,
        touch:$media-touch,
        medium:$media-medium,
        medium-landscape:$media-tablet-landscape,
        medium-portrait:$media-tablet-portrait,
        tablet:$media-tablet,
        tablet-landscape:$media-tablet-landscape,
        tablet-portrait:$media-tablet-portrait,
        small:$media-small,
        small-landscape:$media-small-landscape,
        small-portrait:$media-small-portrait,
        phone:$media-phone,
        phone-landscape:$media-phone-landscape,
        phone-portrait:$media-phone-portrait,
        large:$media-large,
        desktop:$media-desktop,
        x-large:$media-x-large,
        landscape:$media-landscape,
        portrait:$media-portrait
);

