@import "media";


/// @access public
@mixin touch-content(){
  @media #{map-get($Media,touch)}{
    @content;
  }
}

/// @access public
@mixin medium-content(){
  @media #{map-get($Media,medium)}{
    @content;
  }
}

/// @access public
@mixin medium-landscape-content(){
  @media #{map-get($Media,medium-landscape)}{
    @content;
  }
}

/// @access public
@mixin medium-portrait-content(){
  @media #{map-get($Media,medium-portrait)}{
    @content;
  }
}


/// @access public
@mixin tablet-content(){
  @media #{map-get($Media,tablet)}{
    @content;
  }
}


/// @access public
@mixin tablet-portrait-content(){
  @media #{map-get($Media,tablet-portrait)}{
    @content;
  }
}


/// @access public
@mixin tablet-landscape-content(){
  @media #{map-get($Media,tablet-landscape)}{
    @content;
  }
}

/// @access public
@mixin small-content(){
  @media #{map-get($Media,small)}{
    @content;
  }
}


/// @access public
@mixin small-portrait-content(){
  @media #{map-get($Media,phone-portrait)}{
    @content;
  }
}

/// @access public
@mixin small-landscape-content(){
  @media #{map-get($Media,phone-landscape)}{
    @content;
  }
}


/// @access public
@mixin phone-content(){
  @media #{map-get($Media,phone)}{
    @content;
  }
}


/// @access public
@mixin phone-portrait-content(){
  @media #{map-get($Media,phone-portrait)}{
    @content;
  }
}

/// @access public
@mixin phone-landscape-content(){
  @media #{map-get($Media,phone-landscape)}{
    @content;
  }
}

/// @access public
@mixin large-content(){
  @media #{map-get($Media,large)}{
    @content;
  }
}

/// @access public
@mixin desktop-content(){
  @media #{map-get($Media,desktop)}{
    @content;
  }
}


/// @access public
@mixin x-large-content(){
  @media #{map-get($Media,x-large)}{
    @content;
  }
}


/// @access public
@mixin portrait-content(){
  @media #{map-get($Media,portrait)}{
    @content;
  }
}

/// @access public
@mixin landscape-content(){
  @media #{map-get($Media,landscape)}{
    @content;
  }
}

/// @access public
@mixin media-breakpoint($width:null,$min-width:null){
  @if $min-width==null{
    @media only screen and (max-width: #{$width}){
      @content;
    }
  }@else{
    @media only screen and (max-width: #{$width}) and (min-width:#{$min-width}){
      @content;
    }
  }

}

/// @access public
@mixin media-breakpoint-min($width:null){
  @media only screen and (min-width: #{$width}){
    @content;
  }
}

/// @access public
@mixin gutter-bleed(){
  $_column-gutter:$grid-column-gutter;
  margin-right: - $_column-gutter/2 !important;
  margin-left: - $_column-gutter/2 !important;
  width:108%;
  @content;
}